/* gestione scomparsa menu e area playlist */
@media screen and (max-height: 600px) {
  .main_nav .main_nav_bottom {
    display: none;
  }
  .main_nav .main_nav_center {
    height: calc(100% - 160px);
  }
}
@media screen and (max-width: 690px) {
  .main_nav_top, .main_nav_center, .main_nav_bottom {
    display: none;
  }
  /* per funzionamento nav mini */
  .main_nav {
    width: 80px;
  }
  .main_content {
    margin-left: 80px;
    width: 90%;
  }
  /* fine impostazioni nav mini */
  .footer_left, .footer_right {
    width: 30%;
  }
  .footer_center {
    width: 40%;
  }
  .footer_left img {
    padding-right: 0px;
    height: 45px;
    width: 45px;
  }
  .footer_left .far {
    display: none;
  }
  .footer_left p:nth-child(2) {
    padding-right: 0px;
  }
  .footer_left p {
    padding-left: 0px;
  }
  .footer_center_top p {
    padding: 0 3px;
  }
  .footer_center_bottom p {
    padding: 0 2px;
  }
  .footer_center_bottom .lenght {
    display: inline-block;
    height: 5px;
    width: 120px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(25%);
  }
  .footer_right p {
    padding-right: 5px;
  }
  .footer_right .volume {
    display: inline-block;
    height: 5px;
    width: 80px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(-2.5px);
  }
}
/* smartphone */
@media screen and (min-width: 691px) and (max-width: 768px) {
  .main_nav_top, .main_nav_center, .main_nav_bottom {
    display: none;
  }
  /* per funzionamento nav mini */
  .main_nav {
    width: 80px;
  }
  .main_content {
    margin-left: 80px;
    width: 90%;
  }
  .layover {
    /* position: absolute; */
    left: 80px;
  /* fine impostazioni nav mini */
  .footer_left, .footer_right {
    width: 25%;
  }
  .footer_center {
    width: 50%;
  }
  .footer_left img {
    padding-right: 0px;
  }
  .footer_left p:nth-child(2) {
    padding-right: 0px;
  }
  .footer_left p {
    padding-left: 0px;
  }
  .footer_center_top p {
    padding: 0 3px;
  }
  .footer_center_bottom p {
    padding: 0 2px;
  }
  .footer_center_bottom .lenght {
    display: inline-block;
    height: 5px;
    width: 280px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(25%);
  }
  .footer_right p {
    padding-right: 5px;
  }
  .footer_right .volume {
    display: inline-block;
    height: 5px;
    width: 100px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(-2.5px);
  }
}
/* tablet */
@media screen and (min-width: 769px) and (max-width: 991px) {
  .footer_left, .footer_right {
    width: 25%;
  }
  .footer_center {
    width: 50%;
  }
  .footer_left img {
    padding-right: 5px;
  }
  .footer_left p:nth-child(2) {
    padding-right: 10px;
  }
  .footer_left p {
    padding-left: 5px;
  }
  .footer_center_top p {
    padding: 0 10px;
  }
  .footer_center_bottom p {
    padding: 0 2px;
  }
  .footer_center_bottom .lenght {
    display: inline-block;
    height: 5px;
    width: 310px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(25%);
  }
  .footer_right p {
    padding-right: 10px;
  }
  .footer_right .volume {
    display: inline-block;
    height: 5px;
    width: 115px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(-2.5px);
  }
}
/* desktop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_left, .footer_right {
    width: 25%;
  }
  .footer_center {
    width: 50%;
  }
  .footer_left img {
    padding-right: 5px;
  }
  .footer_left p:nth-child(2) {
    padding-right: 10px;
  }
  .footer_left p {
    padding-left: 5px;
  }
  .footer_center_top p {
    padding: 0 20px;
  }
  .footer_center_bottom p {
    padding: 0 5px;
  }
  .footer_center_bottom .lenght {
    display: inline-block;
    height: 5px;
    width: 400px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(25%);
  }
  .footer_right p {
    padding-right: 10px;
  }
  .footer_right .volume {
    display: inline-block;
    height: 5px;
    width: 140px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(-2.5px);
  }
}


/* large desktop */
@media screen and (min-width: 1200px) {
  .footer_left, .footer_right {
    width: 22%;
  }
  .footer_center {
    width: 56%;
  }
  .footer_left img {
    padding-right: 5px;
  }
  .footer_left p:nth-child(2) {
    padding-right: 30px;
  }
  .footer_left p {
    padding-left: 10px;
  }
  .footer_center_top p, .footer_center_bottom p {
    padding: 0 30px;
  }
  .footer_center_bottom .lenght {
    display: inline-block;
    height: 5px;
    width: 450px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(-2.5px);
  }
  .footer_right p {
    padding-right: 20px;
  }
  .footer_right .volume {
    display: inline-block;
    height: 5px;
    width: 150px;
    background-color: grey;
    border-radius: 2.5px;
    transform: translateY(-2.5px);
  }
}

@media screen and (min-width: 769px) {
  .main_nav_only_icons {
    display: none;
  }
}
