* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* regole generali per la pagina*/
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
.clearfix {
	content: "";
	display: table;
	clear: both;
}
.relative {
  position: relative;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.padding_top_big {
  padding-top: 100px;
}
.padding_top_standard {
  padding-top: 40px;
}
.padding_bottom_standard {
  padding-bottom: 40px;
}
.padding_left_standard {
  padding-left: 40px;
}
.padding_top_small {
  padding-top: 10px;
}
.padding_bottom_small {
  padding-bottom: 10px;
}
.padding_right_standard {
  padding-right: 40px;
}
.text-white {
  color: white;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.border_bottom {
  border-bottom: 1px solid white;
}
.triple {
  font-size: 3em;
}
.baseline {
  display: flex;
  justify-content: baseline;
}
.transform_translate_y_25 {
  transform: translateY(+25%);
}
.hidden {
  display: none;
}
/* fine regole generali per la pagina*/
.wrapper {
  width: 100%;
  height: 100vh;
}
/* upgrade */
.layover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  background: rgba(0,0,0,.5);
}
.upgrade {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 8px 8px;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 25px;
  z-index: 999;
}
main .main_content .upgrade a {
  color: white;
}
/* fine upgrade*/
/* regole generali footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(40,40,40,255);
  color: white;
  padding: 0 10px;
}
footer i, footer a {
  color: white;
}
footer > div {
  float: left;
  height: 100%;
  width: calc(100% / 3);
}
.footer_center > div {
  height: 50%;
}
/* fine regole generali footer */
.footer_left img {
  width: 60px;
  height: 60px;
  padding-right: 10px;
}
.footer_left  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer_left p:nth-child(2) {
  padding-right: 30px;
}
.footer_left p {
  padding-left: 10px;
}
.footer_left .far:hover {
  font-weight: bold;
}
.footer_center_top, .footer_center_bottom  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_center_top i {
  font-size: 1.2em;
}
.footer_center_top p:nth-child(3) {
  font-size: 2em;
}
.footer_center_top p, .footer_center_bottom p {
  padding: 0 30px;
}
.footer_right  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer_right p {
  padding-right: 30px;
}
/* fine footer */
/* nav per smartphone*/
.main_nav_only_icons {
  width: 50px;
  height: 100%;
}
.main_nav_only_icons p {
  padding-bottom: 10px;
}
.only_icons_upper, .only_icons_lower {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.only_icons_lower {
  justify-content: flex-end;
}
.main_nav_only_icons .only_icons_upper p, .only_icons_lower p:nth-child(2) {
  font-size: 2em;
}
/* fine nav per smartphone*/
/* nav */
.main_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: calc(100% - 90px);
  background-color: rgba(0,0,0,255);
}
.main_nav, .main_nav a {
  color: lightgrey;
}
.main_nav li {
  text-transform: capitalize;
}
/* .main_nav div {
  border: 1px solid white;
} */
.main_nav {
  padding-left: 10px;
}
.main_nav_top {
  height: 180px;
}
.main_nav_top_logo, .main_nav_top_menu {
  height: 50%;
}
.main_nav_top_logo img {
  width: 80%;
}
.main_nav_top_menu ul li, .main_nav_center ul li, .main_nav_center p {
  padding-bottom: 15px;
}
.main_nav_center {
  height: calc(100% - 180px - 65px);
  overflow-y: auto;
}
.main_nav_bottom {
  height: 65px;
}
.main_nav_bottom p {
  padding: 10px 0
}
/* fine nav */
/* contenuto */
.main_content {
  width: calc(100% - 200px);
  height: calc(100% - 90px);
  margin-left: 200px;
  background-color: rgba(20,25,34,255);
  padding-bottom: 70px;
}
.main_content_menu ul li {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 20px;
  padding-bottom: 20px;
}
.main_content_menu ul li a {
  color: lightgrey;
}
.main_content_menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main_content_boxes {
  display: flex;
  flex-wrap: wrap;
}
.main_content_box {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
  margin: 10px 10px;
}
.main_content_image {
  width: 200px;
  height: 200px;
  /* border: 1px solid red; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}
#main_content_recent_image_1 {
  background-image: url(../img/metal_lifting.jpg);
}
#main_content_recent_image_2 {
  background-image: url(../img/stranger.jpeg);
}
#main_content_recent_image_3 {
  background-image: url(../img/aquietplace.jpeg);
}
#main_content_recent_image_4 {
  background-image: url(../img/split.jpeg);
}
#main_content_recent_image_5 {
  background-image: url(../img/cure.jpeg);
}
#main_content_recent_image_6 {
  background-image: url(../img/sinister.jpeg);
}
#main_content_created_image_1 {
  background-image: url(../img/radar.jpeg);
}
#main_content_created_image_2 {
  background-image: url(../img/mixdaily.jpeg);
}
#main_content_popular_image_1 {
  background-image: url(../img/youg.jpeg);
}
#main_content_popular_image_2 {
  background-image: url(../img/einaudi.jpeg);
}
.main_content_recent h2, .main_content_recent h5,
.main_content_created h2, .main_content_created h5,
.main_content_popular h2, .main_content_popular h5 {
  color: white;
  text-transform: capitalize;
  font-weight: bold;
}
.main_content_recent p,
.main_content_created p,
.main_content_popular p
 {
  text-transform: capitalize;
  color: lightgrey;
  font-size: 0.8em;
}
.main_content_recent h2,
.main_content_created h2,
.main_content_popular h2,
.main_content_created p,
.main_content_popular p {
  margin-left: 20px;
}
.main_content_created p,
.main_content_popular p {
  font-weight: bold;
  padding-bottom: 20px;
}
.main_content_popular .main_content_image {
  border-radius: 50%;
}
/* contenuto */








/* gestione scomparsa menu e area playlist */
@media screen and (max-height: 400px) {
  .main_nav .main_nav_bottom {
    display: none;
  }
  .main_nav .main_nav_center {
    height: calc(100% - 180px);
  }
}
/* smartphone */
@media screen and (max-width: 768px) {
  .main_nav_top, .main_nav_center, .main_nav_bottom {
    display: none;
  }
  .main_nav {
    width: 80px;
  }
  .main_content {
    margin-left: 80px;
    width: 90%;
  }
}
/* tablet */
@media screen and (min-width: 769px) and (max-width: 991px) {
  .main_nav_only_icons {
    display: none;
    width: 100%;
  }
}
/* desktop */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .main_nav_only_icons {
    display: none;
  }
}


/* large desktop */
@media screen and (min-width: 1200px) {
  .main_nav_only_icons {
    display: none;
  }
}
